@media screen and (min-width: 428px) and (max-width: 768px) {
  .section-photo {
    display: none;
  }
  .icon-strategy {
    display: none;
  }
  .container {
    max-width: 428px;
  }
  .strategy-ul {
    gap: 72px;
    flex-wrap: wrap;
  }
  .strategy {
    padding: 96px 16px 96px 16px;
  }
  .strategy-title {
    font-size: 36px;

    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;

    text-align: center;
  }
  .index-par {
    min-width: 396px;

    font-size: 16px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Ourteam */
  .our-team {
    padding-top: 96px;
  }
  .our-team-ul {
    flex-direction: column;

    align-items: center;
  }
  .index-list {
    margin-bottom: 72px;
    width: 264px;
  }
  .title-two {
    text-align: center;
    padding-top: 96px;
    margin-bottom: 72px;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
  /* section-five */
  .section-five {
  }

  .customers {
    margin-top: 96px;
    margin-bottom: 72px;
  }
  .company-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }

  .company-li {
    width: calc((100% - 16px * 2) / 2);
  }
  /*--Підвал-->*/
  .footer-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .media {
    margin-top: 72px;
    text-align: center;
  }
  .madia-div,
  .footer-div {
    margin: 0 auto;
  }
  .footer-div a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label-f {
    margin-top: 72px;
    text-align: center;
  }
  .footer {
    padding-top: 97px;
  }
  .email-form {
    width: 398px;
    padding: 0 15px 0 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section-photo {
    display: none;
  }
  .container {
    max-width: 768px;
  }
  .strategy-title {
    font-size: 36px;

    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: start;
  }
  .icon-strategy {
    display: none;
  }
  .strategy-ul {
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .strategy {
    padding: 96px 16px 96px 16px;
  }
  .strategy-li {
    width: calc((100% - 24px * 2) / 2);
  }
  .index-par {
    min-width: 356px;
    font-size: 16px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Ourteam */
  .index-list {
    flex-shrink: 0;
    width: fit-content;
  }

  .our-team-ul {
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    display: flex;
  }
  .team-par {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .title-two {
    text-align: center;
    padding-top: 96px;
    margin-bottom: 72px;
  }
  .customers {
    margin-top: 96px;
    margin-bottom: 72px;
  }
  .company-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }

  .company-li {
    width: calc((100% - 16px * 2) / 3);
  }

  .footer-container {
    flex-wrap: wrap;
  }
  .footer-div {
    margin-right: 24px;
  }
  .footer-label {
    margin-top: 72px;
  }
}
