@media screen and (min-width: 0px) and (max-width: 768px) {
  .section-photo {
    display: none;
  }
  .header-ul,
  .address {
    display: none;
  }

  .section-one {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg2x.jpg);
    }
  }

  .weblogo {
    justify-content: space-between;
    margin-right: 0;
  }
  .strategy-title {
    margin: 0;
  }
  .section-h {
    max-width: 320px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  /*mobmenu*/

  .icon-mob,
  .mobmenu {
    display: contents;
  }

  .mobmenu {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 80px 0 40px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mob-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mob-icon {
    margin: 0;
    display: flex;
    gap: 56px;
    padding-left: 0;
  }
  .icon-mob {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 16px;
    background-color: #fff;
  }
  .li-styl-m:hover,
  .li-styl-m:focus {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    color: #404bbf;
  }
  .li-styl-m {
    color: #2e2f42;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .address-m {
    margin-bottom: 48px;
  }
  .address-mob {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .tel-mob {
    color: #4d5ae5;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mail-mob {
    color: #434455;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  .close-mob {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke-width: 1px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
  }
  .close-mob:is(:hover, :focus) {
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
  }
  .modal {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 100%;
  }
  .icon-strategy {
    display: none;
  }
  .container {
    max-width: 426px;
  }
  .strategy-ul {
    gap: 72px;
    flex-wrap: wrap;
  }
  .strategy {
    padding: 96px 0px 96px 0px;
  }
  .strategy-title {
    font-size: 36px;

    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;

    text-align: center;
  }
  .index-par {
    font-size: 16px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Ourteam */
  .our-team {
    padding-top: 96px;
  }
  .our-team-ul {
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }
  .index-list .daniel-wilson {
    margin-bottom: 0;
  }
  .index-list {
    width: 264px;
  }
  .title-two {
    text-align: center;

    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
  /* section-five */
  .section-five {
    padding-top: 96px;
    padding: 96px;
  }

  .company-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }

  .company-li {
    width: calc((100% - 16px) / 2);
  }
  /*--Підвал-->*/
  .footer-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .media {
    text-align: center;
  }
  .madia-div {
    margin-top: 72px;
    margin-bottom: 72px;
  }
  .madia-div,
  .footer-div {
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }

  .footer-div a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label-f {
    text-align: center;
  }
  .lable-form {
    width: 100%;
  }
  .footer {
    padding-top: 97px;
  }
  .footer-label {
    width: 100%;
  }
  .email-form {
    width: 100%;
    padding: 0 15px 0 15px;
  }
  /* Portfolio*/
  .botton-ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .projeckt-ul {
    flex-direction: column;
    gap: 48px;
  }
  .projeckt-ul .portfolio-div {
    column-gap: 0px;
  }
  .img img {
    width: 100%;
  }
  .portfolio-list {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 0px) and (max-width: 395px) {
  /* Зміна шрифту для .tel-mob при ширині екрану 395px або менше */
  .tel-mob {
    font-size: 20px;
  }
  .company-ul {
    gap: 12px;
    flex-direction: column;
  }
  .section-five {
    padding: 20px 0 20px 0;
  }

  .mob-icon {
    display: flex;
    gap: 26px;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section-one {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgtab1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bgtab2x.jpg);
    }
  }
  .botton-one {
    margin-top: 36px;
  }
  .icon-mob,
  .mobmenu {
    display: none;
  }
  .mailto {
    margin-bottom: 12px;
  }
  .color {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .address-ul {
    display: block;
  }
  .section-photo {
    display: none;
  }
  .container {
    max-width: 766px;
  }
  .section-h {
    width: 496px;
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
  }
  .strategy-title {
    font-size: 36px;

    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: start;
  }
  .icon-strategy {
    display: none;
  }
  .strategy-ul {
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .strategy {
    padding: 96px 0 96px 0;
  }
  .strategy-li {
    width: calc((100% - 24px) / 2);
  }
  .index-par {
    font-size: 16px;
    max-width: 356px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Ourteam */
  .index-list {
    flex-shrink: 0;
    width: fit-content;
  }
  .our-team {
    padding-top: 96px;
  }
  .our-team-ul {
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    display: flex;
  }
  .team-par {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .title-two {
    text-align: center;
    /* padding-top: 96px;
    margin-bottom: 72px; */
  }
  .customers {
    margin-bottom: 72px;
  }
  .customers-container {
    max-width: 582px;
  }
  .company-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .company-a {
    width: 100%;
  }
  .company-li {
    width: calc((100% - 24px * 2) / 3);
  }

  .footer-container {
    flex-wrap: wrap;
  }
  .footer-div {
    margin-right: 24px;
  }
  .footer-label {
    margin-top: 72px;
  }
  .madia-div {
    margin: 0;
  }
  .footer-container {
    max-width: 582px;
  }
  .botton-ul {
    flex-wrap: wrap;
  }
  .projeckt-ul {
    gap: 48px;
  }
  .portfolio-list {
    width: calc((100% - 48px) / 2);
  }
}
